/* Universal Styles */

body {
    max-width: 100%;
    margin: 0;
    color: white;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
}

.light {
    background-color: #691b0f;
}
.dark {
    background-color: #441008;
}

.dark h1, h2 {
    color: #7c6712;
}
.light h1, h2 {
    color: #bd990b;
}

.course h4 {
    margin-top: 16px;
}
#thesis h4 {
    margin-top: 24px;
}

#learning h2, #thesis h2 {
    font-size: 28px;
}

h1, h4 {
    margin: 0;
}

h1 {
    font-size: 40px;
}

h2 {
    margin: 0;
    text-align: center;
    padding: 32px 0px 0px 0px;
}

h4 {
    font-size: 22px;
    font-weight: 500;
}

.quote {
    font-weight: 300;
    font-style: italic;
}

/* FLEX CONTAINERS */
.flex-container {
    display: flex;
    align-items: flex-start;
}
.flex-container-a {
    display: flex;
    align-items: center;
}

/* MAIN VIEW */
.main-view {
    width: 60%;
    padding: 32px 24px
}

.large-media-container img, video {
    width: 100%;
}

/* SIDE VIEW */
.side-view {
    width: 40%;
    padding-top: 16px;
    margin-right: 40px;
}

.info-container {
    width: 100%;
}

.article {
    display: flex;
}
.article:hover {
    background-color: #59160c;
    cursor: pointer;
}
.article-img {
    width: 35%;
    height: auto;
    padding: 16px;
}
.article img {
    width: 100%;
    height: auto;
}
.info-description {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.info-description h4 {
    margin: 0;
}
.info-description a {
    color: #0d4686;
    text-decoration: underline;
}
.info-description a:hover {
    cursor: pointer;
}

/* HEADER */
header {
    background-color: #7a640a;
    width: 100%;
    height: 64px;
    justify-content: space-between;
}
nav {
    padding-right: 8px;
}
.nav-logo {
    font-size: 20px;
    font-weight: 400;
    height: 32px;
    padding-left: 24px;
    padding-right: 8px;
    text-transform: uppercase;
}
.nav-logo p {
    color: black;
}
.first-word {
    color: #691b0f;
    font-weight: 500;
}
nav a {
    padding-right: 16px;
    color: #441008;
}
nav a:visited {
    color: #441008;
}

/* BANNER */
#banner {
    background-color: #691b0f;
    color: white;
}

.content {
    padding-left: 24px;
    padding-right: 24px;
    width: 36.5%;
}
.content h1 {
    margin-bottom: 20px;
}
.content h4 {
    margin-bottom: 40px;
    font-weight: 400;
}

#banner .button {
    width: 100%;
    padding: 12px 30%;
    text-align: center;
    background-color: #241d1c;
    color: white;
}
#banner .button:hover {
    background-color: #352f2f;
    cursor: pointer;
}

/* MAIN SECTION */
#main {
    background-color: #441008;
    padding-bottom: 32px;
}

#main h2 {
    text-align: left;
}

#main h4 {
    color: #7c6712;
}

#main .main-view {
    border-right: 0.5px dotted black;
}

.speaker {
    font-size: 14px;
}

/* START LEARNING */
#learning { 
    background-color: #691b0f;
}
.courses-container {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 32px 40px 0px 72px;
}

.course {
    width: 370px;
    margin-right: 32px;
    margin-bottom: 24px;
    padding-bottom: 8px;
    background-color: #1d0a05;
}
.course:hover {
    background-color: #441008;
    cursor: pointer;
}
.course img {
    width: 100%;
    height: auto;
}
.course-description {
    padding-left: 16px;
}
.course-description h4 {
    color: #992412;
}

/* THESIS */
#thesis {
    background-color: #441008;
    padding-bottom: 20px;
}
#thesis h4 {
    color: #7c6712;
}

/* FOOTER */
footer {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: rgb(20, 15, 15);
    color: white;
}

.float-left, .float-right {
    display: inline;
}
.float-left {
    padding-left: 24px;
}
.float-right {
    float: right;
    padding-right: 24px;
}
.float-right a {
    padding-left: 12px;
    color: #746d6d;
}