/* Universal Styles */

body {
    width: 100%;
}

.flex-container {
    display: flex;
    align-items: center;
}

.main-view {
    width: 60%;
    padding: 32px 24px
}

.side-view {
    width: 40%;
}

/*
.large-media-container {
    padding-bottom: 32px;
}
*/

.large-media-container img, video {
    width: 100%;
}


/* Header */

header {
    background-color: white;
    width: 100%;
    height: 64px;
    justify-content: space-between;
}

nav {
    padding-right: 8px;
}

.nav-logo {
    height: 32px;
    padding-left: 24px;
    padding-right: 8px;
}

nav a {
    padding-right: 16px;
    text-decoration: none;
}